<section class="videos">
  <h2>All Videos</h2>
  {{#if posts.length}}
    <div class="video-grid">
      {{#each posts}}
        <div class="video-card">
          <a href="/posts/{{this.id}}">
            <div class="video-thumbnail">
              <iframe src="{{this.video_url}}" frameborder="0" allowfullscreen></iframe>
            </div>
            <div class="video-info">
              <h3>{{this.title}}</h3>
              <p class="author">By {{this.author}}</p>
              {{#if this.description}}
                <p class="description">{{this.description}}</p>
              {{/if}}
            </div>
          </a>
        </div>
      {{/each}}
    </div>
  {{else}}
    <p class="no-content">No videos available yet.</p>
  {{/if}}
</section>
